<a href="https://colab.research.google.com/github/sritechnoo/Natural-Language-Processing/blob/master/week1/tfidf_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tf-Idf example

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
texts = [
    "good movie", "not a good movie", "did not like", 
    "i like it", "good one"
]

In [11]:
# using default tokenizer in TfidfVectorizer
tfidf = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1, 2))
features = tfidf.fit_transform(texts)
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

   good movie      like     movie       not
0    0.707107  0.000000  0.707107  0.000000
1    0.577350  0.000000  0.577350  0.577350
2    0.000000  0.707107  0.000000  0.707107
3    0.000000  1.000000  0.000000  0.000000
4    0.000000  0.000000  0.000000  0.000000

In [12]:
tfidf

TfidfVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.float64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=0.5, max_features=None, min_df=2,
        ngram_range=(1, 2), norm=u'l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents=None, sublinear_tf=False,
        token_pattern=u'(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [13]:
tfidf = TfidfVectorizer(min_df=2, max_df=0.6, ngram_range=(1, 10),)
features = tfidf.fit_transform(texts)
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

       good  good movie      like     movie       not
0  0.506204    0.609818  0.000000  0.609818  0.000000
1  0.432183    0.520646  0.000000  0.520646  0.520646
2  0.000000    0.000000  0.707107  0.000000  0.707107
3  0.000000    0.000000  1.000000  0.000000  0.000000
4  1.000000    0.000000  0.000000  0.000000  0.000000

In [14]:
type(tfidf)

sklearn.feature_extraction.text.TfidfVectorizer

In [15]:
str(tfidf)

"TfidfVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',\n        dtype=<type 'numpy.float64'>, encoding=u'utf-8', input=u'content',\n        lowercase=True, max_df=0.6, max_features=None, min_df=2,\n        ngram_range=(1, 10), norm=u'l2', preprocessor=None,\n        smooth_idf=True, stop_words=None, strip_accents=None,\n        sublinear_tf=False, token_pattern=u'(?u)\\\\b\\\\w\\\\w+\\\\b',\n        tokenizer=None, use_idf=True, vocabulary=None)"